.note{ id: "#{ dom_id(note) }" }
  %p= note.body
  %h3= link_to "Edit", "/#{note.notable_type.underscore.pluralize}/#{note.notable_id}/notes/#{note.id}/edit", remote: true
  %h3= link_to "Delete"
%br
