= render @job

- content_for :content do
  - case step
    - when 'details'
      = render 'steps/details'

    - when 'research'
      = render 'steps/research'

    - when 'networking'
      = render 'steps/networking'

    - when 'documents'
      = render 'steps/documents'

    - when 'apply'
      = render 'steps/apply'

    - when 'interview'
      = render 'steps/interview'

    - when "contacts"
      - @job.contacts.each do |contact|
        = contact.name

    - when "notes"
      - @job.notes.each do |note|
        = note.body


    - else
      = t('job_steps.more_info')
