= render "steps/header"

%section.step_content
  %h2 Contacts
  %br
  %br

  %ul
  - @job.contacts.each do |contact|
    %li
      %h3
        = contact.name
      %br
      = contact.email
      %br
      = contact.phone
      %br
      = contact.company
      %br
      = contact.linkedin_url

  = link_to "Add Contact", new_job_contact_path(@job)
