= render "steps/header"

%header.list_header
  %h1
  = @contact.name

%article.outer_container
  %section.step_content
    = @contact.email
    %br
    = @contact.phone
    %br
    = @contact.linkedin_url
    %br
    = @contact.company
