= render "steps/header"

%section.step_content
  = form_for ([@job, @contact]), url: job_contacts_path(@job), data: { remote: true } do |f|
    = hidden_field_tag :success_redirect, content_job_path(@job, step: :contacts)
    = hidden_field_tag :failure_redirect, content_edit_job_path(@job, step: :contacts)
    = f.label :name, "Contact Name"
    = f.text_area :name

    = f.label :email, "Email"
    = f.text_area :email

    = f.label :phone, "Phone"
    = f.text_area :phone

    = f.label :linkedin_url, "Linkedin link"
    = f.text_area :linkedin_url

    = f.label :company, "Company or Division"
    = f.text_area :company

    = f.submit 'Save', {class: 'primary_button'}
