= render "steps/header"

%section.step_content
  %h2 Contacts
  %br
  %br

  %ul
  - @job.contacts.each do |contact|
    %li{id: dom_id(contact) }
      = contact.name
      = contact.email
      = contact.phone
      = contact.company
      = contact.linkedin_url
      %h3
        = link_to 'Edit Contact', edit_job_contact_path(@job, contact), remote: true
        = link_to 'Remove Contact', job_contact_path(@job, contact), remote: true, method: :delete


  = link_to "Add Contact", new_job_contact_path(@job), remote: true
