%header.content_header.outer_container
  %article.steptitle_grid.steptitle_flex
    %section.steptitle_width
      %h1
        = t('job_steps.' + "#{params['step']}" + '.label')
    = link_to edit_job_path(@job), remote: true, id: "job_edit_link" do
      %button.add_button
        = image_tag "edit_icon.svg", size: "20"
    = link_to '#' do
      %button#add_note.add_button
        = image_tag "add_note_icon.svg", size: "20"
    = link_to new_job_contact_path(@job, {step: "#{params['step']}"}), remote: true, id: "contact_add_link" do
      %button.add_button
        = image_tag "add_contact_icon.svg", size: "20"

%article.outer_container
  %section.step_content
    %label Job title
    %p
      = @job.title
    %label URL
    %p
      = link_to @job.url, @job.url
    %label Company name
    %p
      = @job.company_name
    %label Apply by
    %p
      = @job.due_date
    %label How did you find this job?
    %p
      = @job.source
