= render "steps/header"

%article.outer_container
  %section.step_content
    = form_for @job.interview, url: job_interview_path(@job, @job.interview), data: { remote: true }  do |f|
      = hidden_field_tag :success_redirect, content_job_path(@job, step: :interview)
      = hidden_field_tag :failure_redirect, content_edit_job_path(@job, step: :interview)

      = f.radio_button :format, 'phone'
      = f.label :format_phone, "Phone Interview"
      %br
      = f.radio_button :format, 'video'
      = f.label :format_video, "Video Interview"
      %br
      = f.radio_button :format, 'person'
      = f.label :format_person, "In-Person Interview"
      %br
      = f.radio_button :format, 'other'
      = f.label :format_other, "Other"
      %br
      = f.label :date
      = f.date_field :date

      = f.submit "Save", {class: 'primary_button'}
