%header.content_header.outer_container
  %article.steptitle_grid.steptitle_flex
    %section.steptitle_width
      %div.number
        %h2 6
      %h1
        = t('job_steps.interview.label')
    = link_to content_edit_job_path({step: 'interview'}) do
      %button.add_button
        = image_tag "edit_icon.svg", size: "20"
    = link_to content_edit_job_path({step: 'interview'}) do
      %button.add_button
        = image_tag "add_note_icon.svg", size: "20"
    = link_to content_edit_job_path({step: 'interview'}) do
      %button.add_button
        = image_tag "add_contact_icon.svg", size: "20"

%article.outer_container
  %section.step_content
    = form_for @job do |g|
      = g.fields_for @job.interview do |f|
        = f.radio_button :format, 'phone'
        = f.label :format_phone, "Phone Interview"
        %br
        = f.radio_button :format, 'video'
        = f.label :format_video, "Video Interview"
        %br
        = f.radio_button :format, 'person'
        = f.label :format_person, "In-Person Interview"
        %br
        = f.radio_button :format, 'other'
        = f.label :format_other, "Other"
        %br
        = f.label :date
        = f.date_field :date
      = g.submit "Save", {class: 'primary_button'}
