= render "steps/header"

%article.outer_container
  %section.step_content

    = form_for @job.network, url: job_network_path(@job, @job.network) do |f|
      = hidden_field_tag :success_redirect, content_job_path(@job, step: :networking)
      = hidden_field_tag :failure_redirect, content_edit_job_path(@job, step: :networking)
      %label Did / do you plan to discuss this position with someone?

      = f.radio_button(:plans, false)
      = f.label :plans_no, 'No'
      = f.radio_button(:plans, true)
      = f.label :plans_yes, 'Yes'
      %br

      = f.label :date, 'Meeting Date'
      = f.date_field :date

      = f.submit 'Save', { class: 'primary_button' }
