= render "steps/header"

%section.step_content
  = form_for @job.research, url: job_research_path(@job, @job.research), data: { remote: true } do |f|
    = hidden_field_tag :success_redirect, content_job_path(@job, step: :research)
    = hidden_field_tag :failure_redirect, content_edit_job_path(@job, step: :research)
    = f.label :company_mission, "Company's mission/vision/values"
    = f.text_area :company_mission

    = f.label :company_goals, "Company's Strategic Goals"
    = f.text_area :company_goals

    = f.label :current_projects, "Favorite Company Prouct/Project/Service"
    = f.text_area :current_projects
    = f.submit 'Save', {class: 'primary_button'}
